body {
    font-family: 'Courier New', monospace;
    background-color: #f5deb3;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contact {
    text-align: center;
    padding: 20px;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.contact-details a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.content {
    padding: 20px;
}
